.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h1 {
  color: #262626;
  font-weight: 500;
}

.explore-menu-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}

.explore-menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-menu-list-item img{
  width: 7.5vw;
  min-width: 80px;
  height: 7.5vw;
  min-height: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 20%;
  transition: 0.2s;
}

.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
  box-sizing: border-box;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: white;
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #E2E2E2;
  border: none;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}

.explore-menu-list-item img:hover {
  box-shadow: 0 0 18px rgba(18, 17, 17, 0.89); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}